@source '../../ui/src';
@source './**/*.ts';
@source './**/*.tsx';

@import '@kstackz/web-toolkit/theme/global.css';
@import '@kstackz/web-toolkit/theme/typography.css';
@import '@kstackz/web-toolkit/theme/font-inter.css';

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 200ms;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior: none;
}

button,
a,
input,
select {
  touch-action: manipulation;
}

@media (prefers-reduced-motion: reduce) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
