@font-face {
  font-family: 'FiraCode Nerd Font Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./FiraCodeNerdFontMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'FiraCode Nerd Font Mono';
  font-style: normal;
  font-weight: 500;
  src: url('./FiraCodeNerdFontMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'FiraCode Nerd Font Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./FiraCodeNerdFontMono-Bold.woff2') format('woff2');
}

@font-face {
  font-family: 'GeistMono Nerd Font Mono';
  font-style: normal;
  font-weight: 400;
  src: url('./GeistMonoNerdFontMono-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'GeistMono Nerd Font Mono';
  font-style: normal;
  font-weight: 500;
  src: url('./GeistMonoNerdFontMono-Medium.woff2') format('woff2');
}

@font-face {
  font-family: 'GeistMono Nerd Font Mono';
  font-style: normal;
  font-weight: 700;
  src: url('./GeistMonoNerdFontMono-Bold.woff2') format('woff2');
}
