/* Add sources for other packages we are using. */
@source '../node_modules/@monorepo/trace-viewer';
@source '../node_modules/@monorepo/frontend';
@source '../**/*.ts';
@source '../**/*.tsx';

@import '@monorepo/frontend/styles/global.css';
@import '@monorepo/frontend/styles/typography.css';
@import '@monorepo/frontend/styles/font-inter.css';

::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 200ms;
}

html {
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 14px;

  @media (min-width: 768px) {
    & {
      font-size: 16px;
    }
  }
}

.dark {
  &.shiki,
  & .shiki {
    span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }
  }
}
