/* This file is meant to be imported as is in frontend projects!. */
@import 'tailwindcss';
@import 'tw-animate-css';
@import 'shadcn/tailwind.css';

@custom-variant dark (&:where(.dark, .dark *, [data-theme='dark'], [data-theme='dark'] *));

@import './sources.css';
@import './typography.css';
@import './theme.css';
@import './shiki.css';

@layer base {
  html {
    scrollbar-gutter: auto;
    scrollbar-color: color-mix(
        in oklab,
        var(--muted-foreground) 45%,
        transparent
      )
      transparent;
    scrollbar-width: thin;
  }
  html::-webkit-scrollbar {
    width: 10px;
  }
  html::-webkit-scrollbar-track {
    background: transparent;
  }
  html::-webkit-scrollbar-thumb {
    border: 3px solid transparent;
    border-radius: 999px;
    background-color: color-mix(
      in oklab,
      var(--muted-foreground) 45%,
      transparent
    );
    background-clip: content-box;
  }
  html::-webkit-scrollbar-thumb:hover {
    background-color: color-mix(
      in oklab,
      var(--muted-foreground) 70%,
      transparent
    );
  }
}
